.env
.DS_Store

.tags
.tags*
.idea

*.pyc
*.bak

# EAGLE
*.lck
*.l#?
*.s#?
*.b#?

*.epf

# PIC16F1938
funclist
*.lst
*.pre
*.as
*.cof
*.dep
*.p1
*.d
*.map
*.mcs
*.obj
*.rlf
*.sdb
*.sym
*.lnk
*.hxl

/ControllerBoard/ControllerBoard.X/nbproject/private/
/ControllerBoard/ControllerBoard.X/dist/default/